.login{
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    Width:400px;
    height :400px;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}
.twitter{
    display: flex;
   >img{
    height: 41px;
    width: 50px;
   }
}
.title{
    height: 50px;
    width: 310px;
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    >input{
        width: 350px;
        height: 50px;
        border-radius: 6px;
        border: 2px solid rgb(190, 188, 188);
        outline: none;
        padding-left: 20px;
    }
    >input::placeholder{
        color: rgb(170, 164, 164);
    }
    >button{
        width: 350px;
        height: 42px;
        border-radius: 6px;
        background: #1DA1F2;
        border-radius: 20px;
        border: none;
        outline: none;
        color: white;
        line-height: 24px;
        font-size: 18px;
    }
}
.foot{
    display: flex;
    padding: 30px 10px;
    justify-content: space-between;
    color: #1DA1F2;
    font-size: 13px;
    width: 340px;
>div{
    cursor: pointer;
}
}